body { 
  font-family: Tahoma, Arial, sans-serif;
  line-height: 1.4;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

div { margin: 0; padding: 0;}

pre {
  font-size: 14px;
}

div.menu { margin: 2em; }
a.menu_link {
  background-color: #a4d4ec; color: black;
  margin-top: 3em;
  padding: 0.8em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
a.menu_link:hover {   background-color: #768e78; color: white; text-decoration: none;}

#text_output_div { background-color: #dee6e2; color: black; padding: 1em;}

a { color: #336699; text-decoration: none;}
a:hover { text-decoration: underline; }
h1 { margin: 0; padding: 0; }
h2 { margin: 0; padding: 0; }

#wrap { 
  width: 90%;
  margin: 0 auto 20px auto;
}

#header {
  height: 110px;
  background-color: #cde2ef;
  border-top: none; border-right: none;
}
#header h1 {
  margin: 0;
  padding: 40px 0 0 20px;
  font-weight: 100;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
}
#header h1 a { text-decoration: none; color: #1372dc;}
#header h1 a:hover { text-decoration: none; color: #778877; }

#header h2 { color: black; font-size: 15px; font-weight: 100; padding: 0 0 0 20px; }


#contentwrap {
  padding: 2em 30px;
}

/* tab pane styling */
.panes div {
  padding:5px 10px;
  font-size:14px;
  background-color:#fff;
}
