<!DOCTYPE html>
<html>
  <head>
    <title>WrestDemo</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>

    <% content_for :head %>
  </head>
  <body>

    <div id="wrap">
      <div id="header">
        <h1><a href="#">Wrest Demo</a></h1>
        <h2>Wrest is a library which makes retrieving content from the web a breeze.</h2>
      </div>

      <div id="contentwrap"> 
        <div id="content">
          <%= yield %>
        </div>
      </div>

      <div style="clear: both;"> </div>

      <div id="footer">
      </div>
    </div>

  </body>
</html>

