<!DOCTYPE html>
<html>
  <head>
    <title>Wrest Demo</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>

    <% content_for :head %>
  </head>
  <body>

    <div id="wrap">
      <div id="header">
        <div style="float: left;">
          <h1><a href="https://github.com/kaiwren/wrest">Wrest</a> Demo</h1>
          <h2><a href="https://github.com/kaiwren/wrest">Wrest</a> is a library which makes retrieving content from the web a breeze.</h2>
        </div>
        <div class="info" style="float: right;">
          WrestDemo is on <a href="https://github.com/jasim/WrestDemo">GitHub</a>
        </div>
        <div style="clear: both;"></div>
      </div>

      <div id="contentwrap"> 
        <div id="content">
          <%= yield %>
        </div>
      </div>

      <div style="clear: both;"> </div>

      <div id="footer">
        <div style="float: right;">
          <b>This app uses:</b> <a href="http://rubyonrails.org/">Rails 3</a>, <a href="http://jquery.com/">jQuery</a>, <a href="http://alexgorbatchev.com/SyntaxHighlighter">SyntaxHighlighter</a> and
          <a href="http://flowplayer.org/tools/tabs/index.html">jQuery Tools</a>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>

  </body>
</html>

